doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/main.css")
    title Cryptic Hunt | #{title}

  body
    .layout
      nav.navbar(class=title === 'Login' ? 'nav-login' : '')
        a.nav-brand(href="/")
          span.brand-text Cryptic
          span.brand-text-light Hunt
        if title !== 'Login'
          .nav-links
            a.nav-link(href='/play') Play
            a.nav-link(href='/leaderboard') Leaderboard
            if user
              a.nav-link(href='javascript:void(0);' onclick='logoutUser()') Logout
            else
              a.nav-link(href='/login') Login
      main.content
        if !user && title !== 'Login' && title !== 'Home'
          .message.error-message Please login to continue
          script.
            setTimeout(() => {
              window.location.href = '/login';
            }, 2000);
        else
          block content

    script(src="/js/auth.js")
    case title
      when 'Play'
        script(src="/js/play.js")
      when 'Leaderboard'
        script(src="/js/leaderboard.js")