extends base

block content
  .auth-container
    .auth-box
      h1.auth-title Welcome to Cryptic Hunt
      if user
        a.auth-button(href="/play") Play Now
      else
        a.auth-button(href="/login") Login to Play